<div :class="pickerClass">
    <div v-if="!noTitle" :class="[color, 'e-picker__title']">
        <div class="e-date-picker-title">
            <slot name="title">
                <div class="e-picker__title__btn e-date-picker-title__year">
                    {{ currentYear }}
                </div>
                <div class="e-picker__title__btn e-date-picker-title__date e-picker__title__btn--active">
                    <transition :name="store.pickerTransition">
                        <div v-html="formattedHeaderDate" :key="formattedHeaderKey"></div>
                    </transition>
                </div>
            </slot>
        </div>
    </div>
    <div class="e-picker__body">
        <div>
            <div class="e-date-picker-header">
                <slot name="header" :prev="prevButtonAction" :next="nextButtonAction" :change-view-mode="changeViewMode"
                    :page-date="store.pageDate">
                    <EButton icon aria-label="Previous month" @click="prevButtonAction()">
                        <EIcon :name="$icon.pickerIconPrev" />
                    </EButton>

                    <div class="e-date-picker-header__value">
                        <transition :name="store.globalContentAnimation">
                            <div :class="textColor" :key="headerValueKey">
                                <button type="button" @click="changeViewMode()">
                                    {{ formattedSubheader() }}
                                </button>
                            </div>
                        </transition>
                    </div>

                    <EButton icon aria-label="Previous month" @click="nextButtonAction()">
                        <EIcon :name="$icon.pickerIconNext" />
                    </EButton>
                </slot>
            </div>

            <transition-group :name="store.globalContentAnimation" tag="div" :class="gridContainerClass">
                <div v-show="viewComputed === store.viewTypeOptions.day" :key="keyMonth" class="date-view">
                    <div class="grid-header">
                        <span v-for="weekDay in daysOfWeek" :key="weekDay" role="week-day" class="grid-header__cell">{{
                            weekDay
                            }}</span>
                    </div>
                    <div class="grid-body">
                        <span v-for="day in [
                ...visiblePrevMonthDays,
                ...days,
                ...visibleNextMonthDays
              ]" :key="day.timestamp" role="month-day" class="grid-body__cell__cell">
                            <button v-ripple="{ center: true }" type="button" :class="dayClasses(day)"
                                @click="selectDate(day)">
                                <span class="e-btn__content">{{ day.date }}</span>
                            </button>
                        </span>
                    </div>
                </div>

                <div v-show="viewComputed === store.viewTypeOptions.month" :key="keyYear" class="month-view">
                    <div class="grid-body">
                        <span v-for="month in months" :key="month.timestamp" role="month-day"
                            class="grid-body__cell__cell">
                            <button v-ripple :class="monthClasses(month)" standard="true" @click="selectMonth(month)">
                                <span class="e-btn__content"> {{ month.month }} </span>
                            </button>
                        </span>
                    </div>
                </div>
            </transition-group>
        </div>
    </div>
</div>