<div :class="textFieldClass">
    <div class="e-field__control">
        <div class="e-field__slot">
            <div v-if="prependIcon" class="e-field__prepend-inner" @click="handleClickPrependIcon">
                <div class="e-field__icon e-field__icon--prepend-inner">
                    <i aria-hidden="true" class="e-icon e-icon--size-default" :class="prependIcon"></i>
                </div>
            </div>
            <div class="e-text-field__slot" @mouseenter="handleHover(true)" @mouseleave="handleHover(false)">
                <label :for="id" class="e-label" :style="labelStyle">
                    <slot name="label">{{ label }}</slot>
                </label>
                <div v-if="prefix" :class="[textColor, 'e-field__prefix']" @click="setInputFocus">
                    {{ prefix }}
                </div>
                <input ref="input" :id="id" :value="modelValue" :readonly="inputReadonly" class="input--text"
                    :maxlength="limit" :style="inputStyle" :type="type" :placeholder="placeholder"
                    :autocomplete="autocomplete" @blur="handleBlur" @input="changeValue($event, true)"
                    @focus="handleFocus" />
                <div v-if="suffix" :class="[textColor, 'e-field__suffix']" @click="setInputFocus">
                    {{ suffix }}
                </div>
            </div>
            <transition name="scale">
                <div v-show="showClearable" class="e-field__append-inner">
                    <div class="e-field__icon e-field__icon--clear">
                        <EButton icon small @click="clear">
                            <EIcon :name="$icon.maintenance" />
                        </EButton>
                    </div>
                </div>
            </transition>
            <div v-if="appendIcon" class="e-field__append-inner" @click="handleClickAppendIcon">
                <div class="e-field__icon e-field__icon--append">
                    <i aria-hidden="true" class="e-icon e-icon--size-default" :class="appendIcon"></i>
                </div>
            </div>
        </div>
        <EDetails :counter="counter" :details="details" :modelValue="modelValue" :limit="limit" :textColor="textColor"
            :showDetails="showDetails">
        </EDetails>
    </div>
</div>