.nav {
    &__header {
        height: 150px;
    }

    &-button-info {
        font-size: 14px;
        margin-top: 8px;
        letter-spacing: 0;
    }

    &__body {
        min-width: 272px;
        max-height: calc(100% - 150px);
        overflow-x: hidden;
        overflow-y: auto;

        .e-btn {
            +.e-btn {
                margin: 0;
            }

            &.e-btn--stacked {
                width: 7.9375rem;
                color: var(--tertiary);
                border-bottom: 1px solid var(--tertiary);

                &:not(:nth-child(even)) {
                    border-right: 1px solid var(--tertiary);
                }

                .e-icon {
                    font-size: 3.0625rem;
                }
            }

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 0;
                transition: 0.3s width;
                background-color: var(--primary);
                bottom: 0;
            }


            &.router-link-active,
            &:hover {
                background-color: var(--black);

                .e-icon {
                    color: var(--primary);
                }

                .nav-button-info {
                    color: white;
                }

                &:after {
                    content: '';
                    width: 100%;
                }
            }

            &__loader {
                div[role="progressbar"] {
                    height: 2.5rem !important;
                    width: 2.5rem !important;
                }
            }

            &--loading {
                color: var(--primary);
            }
        }
    }
}

div.e-menu-container[data-notification-menu] {
    z-index: 10;
    position: fixed;

}


@include _xs {
    html {
        --root-font-size: 14.8px
    }
}

@include _sm {
    html {
        --root-font-size: 15.2px
    }
}

@include _md {
    html {
        --root-font-size: 15.6px
    }
}